<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're now following "<%=@post.title %>. You will receive notifications when someone comments on your post. If you'd like to stop notifications, please unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %> post.</h1>
  </body>
</html>
